<!-- Questions -->

<!-- What is a directive?
Two types of directives?
Some of basic built-in directives?
  -->

  <!-- Answers -->

  <!-- 1. A directive evaluates a property upon a condition -->

  <!-- 2. Two Types of Directives are: Components and the attribute directive-->

  <!-- 3. some basic built in directives include: *ngIf, ngStyle, ngClass, and *ngFor -->


  <p *ngIf = "displayParagraph" >Test One</p>

  <p [ngStyle] = "{'position': 'absolute','right': 0, 'top': 0}" >Test Two</p>

  <p [ngClass] = "'color-red background-yellow' " >This paragrapraph implements string assignments</p>

  <p [ngClass] = "['color-red', 'background-yellow']" >This paragraph adds classes as an array </p>

  <p [ngClass] = "{'color-red': true, 'background-yellow': true, 'hide-text': true}" >This paragraph adds classes as an object</p>


  <ul>
    <li *ngFor = "let user of users" >
      {{user.name}} is {{user.age}} years old.




    </li>
  </ul>
