<!-- Questions -->

<!-- What is a class?
What can a class definition include?
What is class inheritance?
Subclass and Superclass?
Private, Public and Protected. -->

<!-- Answers -->


<!-- 1. A class is basically the blueprint of an object -->
<!-- 2. A class definition may include Fields, Constructors, and methods -->
<!-- 3. A Superclass is known as the extension of a subclass. It may also be defined as a derived class from the base class  -->
<!-- 4. Private, public, and Protected all differ. a private field in a class will only exit in that class and cant be accessed outside it. -->
<h1>
{{ford.make}}
</h1>

<h1>
{{honda.make}}
</h1>

