<!-- Questions -->

<!-- What does a component consist of?
How does angular know that a component class is special?
Command to create a new component?
Ways to select a component?
Ways to link a template?
Ways to link styles for the template? -->


<!-- Answers -->


<!-- 1. A componenent may consist of typescript, html, and css  -->

<!-- 2. Anular knows that a component class is special from the @ declarator  -->

<!-- 3. command to create a new component is ng g c componentName -->

<!-- 4. You can either have an internal or external template, same goes for css -->

<!-- <greet></greet> -->

<div class="greet"></div>
